/* Last Rule and Specificity * Universal Slector */

* {
  color: green;
}

.special {
  color: #00ff00;
}

p {
  color: #ff0000;
}

p {
  color: #0000ff;
}

#heading {
  color: #ff0000;
}

.heading {
  color: #00ff00;
}
