/* INHERITANCE */
/* Children inherit syles from the parent, unless have their own styles */

body {
  color: #ff0000;
  font-family: monospace;
  line-height: 1.5;
  font-size: 20px;
  border: 3px solid #000;
}

.special {
  color: #00ff00;
  font-size: 30px;
}

h2 {
  color: #0000ff;
}

div {
  color: greenyellow;
}
