/* DIV AND SPAN - used for grouping */
/* DIV - used to group multiple elements */
/* SPAN - used to group inline content */

.green {
  color: #00ff00;
  background-color: yellow;
}

.red {
  color: #ff0000;
  background-color: #8f8f8f;
}

span {
  text-transform: uppercase;
}

.text {
  background-color: #fff;
  color: blue;
}
